

body{
  font-family: fantasy;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 200px;
  margin-left: 400px;
  background-color: margenta;
  border-style: hidden;
  padding: 25px;


}
div{
  background-color: margenta;
}
h1{
color: green;
}
.line{
  color: blue;
}
#id{
  color: brown;
}


h2{
  color: red;

}
img{
  height: 30%;
  width: 20%;
}
a{
  text-decoration: none;
}
span{
  color: red;
}
.span{
  color: green;
}
